<html>
  <head>
    <title>Layout</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <!-- <h1>Layout</h1> -->
    <section class="container">
      <section class="section-1">section-1</section>
      <section class="section-2">section-2</section>
      <section class="section-3">section-3</section>
      <section class="section-3">section-4</section>
      <section class="section-3">section-5</section>
      <section class="section-3">section-6</section>
    </section>

    <!-- 

        main
        section
        article
        header
        footer
        aside
        nav

        div
     -->
  </body>
</html>
