@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

.main-header {
  display: flex;
  padding: 0.5rem 3rem;
  align-items: center;
  box-shadow: 0 2px 5px 0 #34495e;
}

.main-header > .brand {
  font-size: 2rem;
  font-weight: bold;
  color: #34495e;
}

.main-header .menu {
  list-style: none;
  padding-left: 0px;
  display: flex;
  margin-left: 2rem;
}

.main-header .menu > li {
  color: #566573;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition-property: transform, color, text-shadow;
  transition-duration: 0.5s;
}

.main-header .menu > li:hover {
  transform: translateY(-2px);
  color: #2a435a;
  text-shadow: 0 0 1px #2a435a;
}

.menu-item {
  position: relative;
}
.menu-item:hover > ul {
  display: flex;
}
.menu-item > ul {
  position: absolute;
  padding-left: 0px;
  list-style: none;
  background-color: white;
  display: none;
  flex-direction: column;
  /* border: 0.5px solid #2a435a; */
  top: 100%;
}

.menu-item > ul > li {
  white-space: nowrap;
  padding: 0.5rem;
  border: 0.2px solid #2a435a;

  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.menu-item > ul > li:hover {
  background-color: #2a435a;
  color: white;
}

.menu-item > .sub-menu-icon {
  display: flex;
  align-items: center;
}

.menu-item > .sub-menu-icon::after {
  content: "\f0d7";
  font-family: FontAwesome;
  margin-left: 0.5rem;
  font-size: 1.5rem;

  transition-property: transform;
  transition-duration: 0.5s;
  transform-origin: center;
}

.menu-item:hover .sub-menu-icon::after {
  transform: rotateZ(180deg);
}

.card {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.card-item {
  border: 1px solid black;
  width: 20%;
  height: 50vh;
  display: flex;
  position: relative;
  background-color: white;
  margin: 0 1rem;
}
.card-item::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  z-index: -1;

  transition-property: transform, box-shadow;
  transition-duration: 0.5s;
}

.card-item:hover::before {
  transform: rotateZ(2deg);
  box-shadow: 0 0 0px 5px #272727;
}
