@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}
.text-center {
  text-align: center;
}
.text-para {
  width: 70%;
  height: 2rem;
  margin: auto;
  border: 1px solid black;
  padding: 0.5rem;
  text-align: justify;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-para:hover {
  overflow: visible;
  white-space: wrap;
  height: 100%;
}

.price-tag span {
  font-size: 0.9rem;
  text-decoration-line: line-through;
  text-decoration-color: #403f3f;
  color: #bfbebe;
  text-decoration-thickness: 0.5px;
}
